/*css初始化*/
*{
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    width: 100%;
}

/* header部分 */
header{
    width: 100%;
    height: 80px;
    background: #000000;
    position: relative;
}
header:after{
    content: "";
    width: 100%;
    height: 7px;
    background: #d6d6d6;
    position: absolute;
    left: 0;
    bottom: 0;
}
header>div{
    position: relative;
    z-index: 1;
    width: 1120px;
    margin: 0 auto;
}
header>div>a{
    float: left;
    padding: 20px 0;
    
}
header>div>a>h1{
    display: inline;
    font-size: 26px;
}
header>div>nav{
    float: right;
}
header>div>nav>a{
    font-size: 20px;
    color: white;
    height: 73px;
    line-height: 73px;
    width: 100px;
    text-align: center;
    display: block;
    float: left;
}
header>div>nav>a.home{background: rgb(212,1,18);}
header>div>nav>a.course{background: rgb(254,184,0);}
header>div>nav>a.actual{background: rgb(120,185,23);}
header>div>nav>a.plan{background: rgb(67,59,144);}
header>div>nav>a.FAQ{background: rgb(242,124,1);}
header>div>nav>a.nots{background: rgb(1,127,203);}
header>div>nav>a:hover,
header>div>nav>a.active{
	    	padding-bottom: 7px;
}

/* 图片部分 */
.imgBox{
    background: #eaeaea;
    position: relative;
}
.imgBox:after{
    content: "";
    height: 6px;
    width: 100%;
    background:  #d6d6d6;
    position: absolute;
    left: 0;
    bottom: 0;
}
.imgBox > ul {
     position: relative; 
     width: 1490px; 
     height: 538px; 
     margin: 0 auto; 
     padding-top: 10px; 
}
.imgBox > ul > li { 
    position: absolute;
    width: 610px; 
    height: 300px; 
    overflow: hidden; 
}
.imgBox>ul>li.active{
    z-index: 2;
   top: 37px;
   right: 0;
   left: 0;
   width: 960px;
   height: 460px;
   margin: auto;
   border: 1px solid #ffffff;
   box-shadow: 0 30px 140px 22px rgba(0, 0, 0, .35);
}
.imgBox > ul > li.left { 
    z-index: 1; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    margin: auto; 
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .35); }
.imgBox > ul > li.right { 
    z-index: 1; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .35);
 }
 .imgBox > ul > li > img { 
     position: absolute; 
     left: -30%;
     height: 100%;
}
/* 内容部分 */
.content{
    position: relative;
    width: 1200px;
    height: 473px;
    margin: 34px auto 0;
}
.content h1{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 23px;
}
.content h1>span{
    font-size: 30px;
    color: #7c7c7c;
}
.content aside{
    float: left;
    width: 450px;
}
.content aside>dl{
    position: relative;
    /* display: block; */
    height: 74px;
    margin-top: 17px;
}
.content aside>dl dt{
    position: absolute;
    left: 92px;
    top: -1px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: underline;
}
.content aside>dl dd:first-of-type{
    position: absolute; 
    left: 0;
}
.content aside>dl dd:last-of-type{
    position: absolute; 
    top: 20px; 
    left: 90px;
}
.content article{
    float: right;
    width: 720px;
    overflow: hidden;
}
.content  > article > p,
.content  > article > img { 
    margin-bottom: 20px; 
}
/* 网页尾部部分 */
footer{
    position: relative;
    background: #000000;
}
footer:before { 
    content: ''; 
    width: 100%; 
    height: 6px;
    background: #d6d6d6;  
    position: absolute;
    z-index: -1; 
    top: -6px; 
    left: 0; 
}


